.sidenav{
    height: 100%;   
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #253D2C;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 10px;
}

.sidenav a{
    padding: 9px 9px 9px 33px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.4s;

}